# Ignore node modules
node_modules/

# Ignore packages spreadsheet
packages/spreadsheet/

# Ignore environment config
.env

# Ignore logs
npm-debug.log
yarn-debug.log
yarn-error.log
service-account.json

# Ignore build
/build
/dist

# Ignore package-lock.json
package-lock.json
