@use "../assets/styles/variables" as *;

.dataTable-container {
  background-color: $base-color;
  border-radius: 12px;
  box-shadow: 0 0 20px $box-shadow-color;
  padding: 20px 30px 30px 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  .dataTable-header {
    flex-shrink: 0;
    .dataTable-header-filters {
      margin-bottom: 10px;
    }
    .inner-dataTable-header {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 30px;
      margin-bottom: 10px;
      .show-x-entries {
        font-size: 13px;
        .count-of-page-selector {
          border: 1px solid $border-color;
          padding: 2px 5px;
          border-radius: 4px;
          font-size: 14px;
          &:focus {
            outline: none;
            border-color: $primary-color;
          }
        }
      }
      .search-bar-container {
        position: relative;
        border-radius: 50rem;
        overflow: hidden;
        .search-icon {
          position: absolute;
          top: 0;
          left: 0;
          width: 40px;
          background-color: $primary-color;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          color: $primary-font-color;
          pointer-events: none;
        }
        .search-bar {
          padding: 4px 10px 4px 45px; /* Adjusted for search icon */
          border: 1px solid $border-color;
          font-size: 13px;
          border-radius: 50rem;
          &:focus {
            outline: none;
            border-color: $primary-color;
          }
        }
      }
      .dataTable-header-buttons {
        margin-left: auto;
        max-width: calc(100% - 450px);
      }
    }
  }
  .dataTable-table-container {
    flex: 1;
    min-height: 0;
    overflow: auto;
    .dataTable-table {
      width: 100%;
      height: auto;
      border-collapse: collapse;
      position: relative;
      thead {
        position: sticky;
        top: 0;
        z-index: 0;
        background-color: white;
      }
      th,
      td {
        padding: 15px 10px;
        text-align: left;
        white-space: normal;
        word-wrap: normal;
        word-break: keep-all;
        color: $base-font-color;
        /* &:last-child {
          text-align: right;
        } */
        &:first-child {
          text-align: left;
        }
      }
      tr:hover {
        background-color: $base-hover-color;
      }
      .action-icons {
        background-color: transparent;
        border-color: transparent;
        border-style: solid;
        padding: 0%;
        border-radius: 50rem;
        overflow: hidden;
        color: $primary-color;
        &:focus {
          outline: none;
          border-color: $primary-color;
        }
        &.line-action-icon {
          border-radius: 0;
          overflow: visible;
          padding: 4px;
        }
      }
      .dataTable-table-heading-tr {
        .dataTable-table-heading-th {
          background-color: transparent;
          border: none !important;
          font-weight: 700;
          text-transform: capitalize;
          padding: 18px 10px;
        }
      }
      .permission-check-box {
        width: 20px;
        height: 20px;
        accent-color: $primary-color;
        cursor: pointer;
        border-color: red;
      }
    }
  }
  .dataTable-footer {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    .pagination-box {
      display: flex;
      align-items: center;
      border: 1px solid $border-color;
      border-radius: 50rem;
      padding: 5px 10px;
      overflow: hidden;
      box-sizing: border-box;
      .pagination-button-nav {
        background-color: transparent;
        border: none !important;
        width: 28px;
        height: 28px;
        border-radius: 50rem;
        &:hover {
          background-color: $base-hover-color;
        }
        &:focus {
          outline: none;
          background-color: $primary-color;
          color: $primary-font-color;
        }
      }
      .pagination-button {
        background-color: transparent;
        border: none !important;
        border-radius: 50rem !important;
        width: 28px;
        height: 28px;
        &.active {
          background-color: $primary-color;
          color: $primary-font-color;
        }
        &:focus {
          outline: none;
        }
      }
    }
  }
}
.order-data-container {
  .dataTable-container {
    .dataTable-table-container {
      .dataTable-table {
        width: max-content;
        thead {
          z-index: 0;
        }
      }
    }
  }
}
.dashboard-order-table {
  .dataTable-container {
    .dataTable-table-container {
      .dataTable-table {
        width: max-content;
        thead {
          z-index: 0;
        }
      }
    }
  }
}
@media (max-width: 676px) {
  .dataTable-container {
    padding: 20px;
    .dataTable-header {
      .inner-dataTable-header {
        flex-wrap: wrap;
        gap: 10px;
        .show-x-entries {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .search-bar-container {
          width: 100%;
          .search-bar {
            width: 100%;
          }
        }
        .dataTable-header-buttons {
          margin-right: auto;
          .add-action-buttons {
            gap: 10px;
            flex-wrap: wrap;
            justify-content: center;
          }
        }
      }
    }
    .dataTable-footer {
      flex-direction: column;
    }
  }
}
