$primary-color: #5864bd;

$body-color: #f6f6f6;

$base-color: #ffffff;
$base-hover-color: rgba(0, 0, 0, 0.05);

$base-font-color: #000;
$base-font-color-light: #a7a7a7;
$primary-font-color: #ffffff;

$border-color: #a7a7a7;

$box-shadow-color: rgba(0, 0, 0, 0.15);

$model-background: rgba(0, 0, 0, 0.5);

$color-danger: #dc3545;
$color-success: #54ca68;
$color-warning: #ffc107;